.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message-input{
  margin-top: 200px;
}

/* .send-button{
  margin-top: 10px;
} */
.send-button {
  margin-top: 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.send-button:hover {
  background-color: #3e8e41;
}

.sji{
  cursor: pointer;
}

.search {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-size: 16px;
  font-weight: bold;
  width: 50%;
  height: 15px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.search:focus {
  border-color: #5d5dff;
}

.archive-button{
  /* margin-top: 10px; */
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 6px 16px;
  /* text-align: center; */
  /* text-decoration: none; */
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 800px;

}

.chats{
  cursor: pointer;
  font-size: 20px;
  font-size: medium;
  margin-top: 20px;
  margin-left: 5px;
}

.archive{
  cursor: pointer;
  font-size: 20px;
  margin-left: 130px;
  font-size: medium;
}

.starred{
  cursor: pointer;
  font-size: 20px;
  margin-left: 150px;
  font-size: medium;
}

.star{
  border: none;
  background: none;
  cursor: pointer;
  /* color: grey; */
  margin-left: 30px;
}

/* .starred {
  color: yellow;
} */

/* .dropdown {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 40px;
} */

/* .select{
  position: relative;
  display: inline-block;
  margin-top: 15px;
  margin-left: 368px;
} */

.select {
  background-color: #f2f2f2;
  border: none;
  font-size: 13px;
  padding: 5px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 350px;
  margin-top: 20px;
}

.select:hover {
  background-color: #ddd;
}

.select option {
  background-color: #f2f2f2;
  font-size: 14px;
  padding: 9px 9px;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.select option:hover {
  background-color: #ddd;
}

.action {
  background-color: #f2f2f2;
  border: none;
  font-size: 13px;
  padding: 5px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.action:hover {
  background-color: #ddd;
}

.action option {
  background-color: #f2f2f2;
  font-size: 14px;
  padding: 9px 9px;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.action option:hover {
  background-color: #ddd;
}

/* .chat-item{
  margin-left: 40px;
} */

.select-all{
  margin-bottom: 25px;
}

.new-message{
  cursor: pointer;
}

.filter{
  cursor: pointer;
}


